
.pizza-hero-jumbotron{
    background-image: url("../img/pizza.png");
    background-size: cover;
    background-color: transparent;
}

.pizza-hero-jumbotron h1{
    background: rgba(255,255,255,0.33);
    color: rgba(0,0,0,.75);
    width: 100%;
    padding: 0;
    text-align: center;

}

.badge{
    border-radius: 10px;
    padding-right: 7px;
    padding-left: 7px;
}

