*{
    transition: all 1s;
}
.container{
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

.row {
    width:100%;
}
s
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.column.threefourth{
    width:75%;
}
.column.twothird{
    width:66.66%;
}
.column.half {
    width: 50%;
}
.column.third {
    width: 33.33%;
}
.column.fourth{
    width: 25%;
}
.column.sixth {
    width: 16.66%;
}
.column.eighth{
    width: 12.5%;
}
@media screen and (max-width: 850px) {
    .column.third,
    .column.half {
        width: 100%;
    }
}