

/*default layout: mobile first*/
body{
    font-family: 'Montserrat', sans-serif;
    margin-left: 1em;
    margin-right: 1em;
}
div.alert-info.hidden-on-desktop{
    text-align:center;
    background-color: #C3FFFF;
    border: .05em solid #CBCBCB;
    padding: 1em;

}
h1{
    text-align:center;
}
ul.nav-links {
    list-style: none;
    text-align: center;
    padding: 0em;
    margin-left: -.5em;
    margin-right: -.5em;
}

li{
    padding: 1em;
    background-color: #CBCBCB;
    margin: .5em;
}
img{
    width:100%;
}
#social-media-links>img{
    float: right;
}
.sub-section{
    font-style: italic;
}

#social-media-links{
    max-width: 500px;
    float: right;
    width: 50%;
}

/*screens larger than phones*/
@media screen and (min-width: 850px){
    .hidden-on-desktop{
        visibility: hidden;
    }
    h1{
        text-align: left;
        float: left;
    }
    li{
        display: inline-block;
        float: right;
        background-color: transparent;
    }
}