body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;

    --text-info: indigo;
    --bg-info: lavender;
    --text-success: forestgreen;
    --bg-success: paleturquoise;
    --text-warning: olive;
    --bg-warning: lemonchiffon;
    --text-error: brown;
    --bg-error: pink;
*/
}



.message-info{
    color: var(--text-info);
    background-color: var(--bg-info);
}

.message-success{
    color: var(--text-success);
    background-color: var(--bg-success);
}

.message-warning{
    color: var(--text-warning);
    background-color: var(--bg-warning);
}

.message-error{
    color: var(--text-error);
    background-color:var(--bg-error);
}

.message {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;